* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(49, 47, 47);
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 10px;
  background-color: #c5c5c5;
  border: 2px solid black;
  padding: 20px;
  height: fit-content;
  border-radius: 5px;
  width: fit-content;
}

.introduction {
  padding:50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3px;
  line-height: 3em;
  color:white;
  text-align:left;
}

.introduction h1 {
  font-size: 2.6em;
}

.introduction h2 {
  font-size: 2em;
}

.display {
  width: 100%;
  font-size: 1.5em;
  grid-column: 1/5;
  background-color: white;
  border: solid 2px black;
  border-radius:8px;
}

button {
  background-color:white;
  height: 60px;
  font-size: 1.5em;
  border-radius:8px;
  border: solid 2px black;
}

.btn-operator {
  background-color: #f0ad4e;
}

.btn-equals {
  background-color: #5cb85c;
  grid-column: 2/5;
  width: 100%;
}

.btn-allClear {
  background-color: #d9534f;
}
